body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-shrink: inherit;
  flex-wrap: wrap;
  padding: 0px;
  border: 5px solid black;
  width: 320px;
  height: 320px;
}

.row {
  display: flex;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.square {
  display: flex;
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 20px;
  width: 20px;
}
